<core-toolbar class="main_header">
  <paper-icon-button id="navicon" icon="menu"></paper-icon-button>
  <span flex></span>
  <paper-tabs class="top_menu" selected="0" class="core-narrow">
    <paper-tab>Series</paper-tab>
    <paper-tab>Feed</paper-tab>
    <paper-tab>About</paper-tab>
  </paper-tabs>
  <header class="middle">
    <h1>Snooz.ie</h1>
    <summary>The sleeping pill that you take earaly</summary>
  </header>
  <!--<paper-progress class="bottom fit" value="30"></paper-progress>-->
</core-toolbar>





<!-- <div class="content">
  <header>
    <h1>Snooz.ie</h1>
    <h4>The sleeping pill that you take earaly</h4>
  </header>
  <ul>
    <li><a href="/#">Home</a></li>
    <li><a href="#series">Series</a></li>
    <li><a href="#feed">Feed</a></li>
    <li><a href="about">About</a></li>
  </ul>
</div>-->
