@import url(http://fonts.googleapis.com/css?family=Alegreya);
@font-face {
  font-family: 'Raleway Thin';
  src: url("fonts/Raleway-Thin.otf");
}
@font-face {
  font-family: 'Karla';
  src: url("fonts/Karla-Regular.ttf");
}
/*@import "sidebar_buttons/sidebar_toggle/*.png";
@mixin sprite_css_sidebar_toggle($name) {
  @include sidebar_toggle-sprite($name);
  height: sidebar_toggle-sprite-height($name);
  width: sidebar_toggle-sprite-width($name);
}
@mixin applySameBoardColorElseWhere($color) {
  #loading_screen{
    background: $color;
    #loading_circles_container{
      background: $color;
    }
  }
}
* */
/* line 1, ../sass/_main.scss */
html {
  min-width: 300px;
  height: 100%;
}

/* line 5, ../sass/_main.scss */
body {
  height: 100%;
  display: block;
  width: 100%;
  color: white;
  background-color: #171717;
  font-family: "Alegreya Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  min-width: 300px;
}

/* line 16, ../sass/_main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/_main.scss */
a {
  text-decoration: none;
}

/* line 22, ../sass/_main.scss */
h1 {
  margin: 0;
}

/* line 25, ../sass/_main.scss */
.main_content {
  clear: both;
  width: 100%;
}

/* line 30, ../sass/_main.scss */
.title {
  width: 100%;
  margin: 45px 3px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

/* line 38, ../sass/_main.scss */
:host {
  margin: 0;
}

/* line 1, ../sass/_header.scss */
core-drawer-panel:narrow paper-tabs {
  display: none;
}

/* line 4, ../sass/_header.scss */
.main_header {
  background: #025a86;
  color: white;
  background: url(images/home/DSC_3459.jpg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  /*ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1.5em;
    li{
      width: 100%;
      a{
        color: white;
        width: 100%;
        display: block;
        padding: 0.5em 0;
        &:hover{
          background: lighten($header-bg, 20);
          text-decoration: none;
        }
      }
    }
  }*/
}
/* line 12, ../sass/_header.scss */
.main_header.tall {
  height: 300px;
}
/* line 16, ../sass/_header.scss */
.main_header:not(.tall) summary {
  display: none;
}
/* line 21, ../sass/_header.scss */
.main_header paper-tabs {
  display: none !important;
}
/* line 25, ../sass/_header.scss */
.main_header header {
  margin: 0 auto;
}
/* line 27, ../sass/_header.scss */
.main_header header h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 4em;
  letter-spacing: 4px;
  font-weight: 900;
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -moz-transition: font-size, 0.1s;
  -o-transition: font-size, 0.1s;
  -webkit-transition: font-size, 0.1s;
  transition: font-size, 0.1s;
}
/* line 37, ../sass/_header.scss */
.main_header header summary {
  font-family: 'Raleway Thin';
  color: #bce8fe;
}
/* line 43, ../sass/_header.scss */
.main_header:not(.tall) h1 {
  font-size: 1em;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 70, ../sass/_header.scss */
.drawer {
  background: #e5e5e5;
}
/* line 73, ../sass/_header.scss */
.drawer core-toolbar {
  background-color: #021439;
  color: white;
}

/* line 1, ../sass/_jumbotron.scss */
.jumbotron {
  background: url(/images/home/DSC_3459.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  display: table;
}
/* line 9, ../sass/_jumbotron.scss */
.jumbotron .container {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  color: white;
}
/* line 16, ../sass/_jumbotron.scss */
.jumbotron .container h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}
/* line 21, ../sass/_jumbotron.scss */
.jumbotron .container h4 {
  font-weight: 100;
}

/* line 3, ../sass/home/_seriesThumbs.scss */
.series_thumbs {
  width: 100%;
  margin-bottom: 9900px;
}
/* line 6, ../sass/home/_seriesThumbs.scss */
.series_thumbs .serie_thumb {
  height: 390px;
  min-width: 285px;
  margin: 15px;
}
/* line 11, ../sass/home/_seriesThumbs.scss */
.series_thumbs .serie_thumb a {
  background-repeat: no-repeat;
  background-color: rgba(23, 23, 23, 0.75);
  background-blend-mode: overlay;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 21, ../sass/home/_seriesThumbs.scss */
.series_thumbs .serie_thumb a .circle {
  width: 13em;
  height: 13em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px rgba(255, 215, 0, 0.46);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 30, ../sass/home/_seriesThumbs.scss */
.series_thumbs .serie_thumb a .circle h1 {
  color: gold;
  font-size: 24px;
  font-family: 'Raleway Thin';
}
/* line 37, ../sass/home/_seriesThumbs.scss */
.series_thumbs .serie_thumb a:hover {
  background-color: rgba(23, 23, 23, 0);
}
/* line 40, ../sass/home/_seriesThumbs.scss */
.series_thumbs .serie_thumb a:hover .circle {
  background: rgba(255, 215, 0, 0.46);
  box-shadow: none;
}
/* line 43, ../sass/home/_seriesThumbs.scss */
.series_thumbs .serie_thumb a:hover .circle h1 {
  color: white;
}

/* ==========================================================================
   630 - Horizontal smart phone
   ========================================================================== */
@media only screen and (min-width: 630px) {
  /* line 56, ../sass/home/_seriesThumbs.scss */
  .series_thumbs {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }
}
/* ==========================================================================
   768 - col-sm
   ========================================================================== */
@media only screen and (min-width: 768px) {
  /* line 72, ../sass/home/_seriesThumbs.scss */
  .series_thumbs .serie_thumb {
    min-width: 325px;
  }
}
/* ==========================================================================
   992 - col-md
   ========================================================================== */
@media only screen and (min-width: 992px) {
  /* line 83, ../sass/home/_seriesThumbs.scss */
  .series_thumbs .serie_thumb {
    min-width: 300px;
  }
}
/* ==========================================================================
   1200 - col-lg
   ========================================================================== */
@media only screen and (min-width: 1200px) {
  /* line 94, ../sass/home/_seriesThumbs.scss */
  .series_thumbs .serie_thumb {
    min-width: 370px;
  }
}
/* ==========================================================================
   Base -> smartphone
   ========================================================================== */
/* ==========================================================================
   480 - col-xs
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* line 13, ../sass/_responsive.scss */
  .title {
    font-size: 40px;
  }

  /* line 17, ../sass/_responsive.scss */
  .jumbotron {
    height: 400px;
  }
}
/* ==========================================================================
   630 - Horizontal smart phone
   ========================================================================== */
/* ==========================================================================
   768 - col-sm
   ========================================================================== */
@media only screen and (min-width: 768px) {
  /* line 33, ../sass/_responsive.scss */
  .title {
    font-size: 50px;
  }

  /* line 37, ../sass/_responsive.scss */
  #navicon {
    display: none;
  }

  /* line 42, ../sass/_responsive.scss */
  .main_header paper-tabs {
    display: flex !important;
  }
}
/* ==========================================================================
   992 - col-md
   ========================================================================== */
@media only screen and (min-width: 992px) {
  /* line 54, ../sass/_responsive.scss */
  .title {
    font-size: 60px;
  }

  /* line 60, ../sass/_responsive.scss */
  .main_header.tall {
    height: 400px;
  }
}
/* ==========================================================================
   1200 - col-lg
   ========================================================================== */
@media only screen and (min-width: 1200px) {
  /* line 72, ../sass/_responsive.scss */
  .main_header.tall {
    height: 500px;
  }
}
