/*@import "sidebar_buttons/sidebar_toggle/*.png";
@mixin sprite_css_sidebar_toggle($name) {
  @include sidebar_toggle-sprite($name);
  height: sidebar_toggle-sprite-height($name);
  width: sidebar_toggle-sprite-width($name);
}
@mixin applySameBoardColorElseWhere($color) {
  #loading_screen{
    background: $color;
    #loading_circles_container{
      background: $color;
    }
  }
}
* */

@mixin cardColorApplier($primary, $secondary, $font, $line:$secondary, $border-bottom:$line){
  background-color: $primary;
  @include transition-property(background-color);
  @include transition-duration(1s);
  @include transition-timing-function(ease-in);
  border-bottom: 1px $border-bottom solid;
  color: $font;
  .text{
    background-color: $primary;
  }
  .time_line{
    .line{
      border-right-color: $secondary;
    }
  }
}//cardColorApplier

@mixin navColorApplier($primary, $secondary){
  .site-navigation{
    color: $secondary;
    //background: $primary;
    
    ul#items li.item{
      border-bottom-color: $primary;
      &:hover{
        border-bottom-color: $secondary;
      }
    }
  }
}//navColorApplier

@mixin cardImageApplier($folderName){
  //Base for phone
  .image{
    .image_holder{
      @for $i from 1 through 4{
        #image-#{$i}{
          background-image: image-url("cards/our_work_page/phone/#{$folderName}/#{$i}.jpg");
        }
      }
    }//.image_holder
  }//.image

  //stardard screens
  @media only screen and (min-width: 480px){
    .image{
      .image_holder{
        #image-1{
          background-image: image-url("cards/our_work_page/standard/#{$folderName}/1.jpg");
        }
      }//.image_holder
    }//.image
  }

  @media(min--moz-device-pixel-ratio: 1.3),
      (-o-min-device-pixel-ratio: 2.6/2),
 (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
          .image{
            .image_holder{
              #image-1{
                background-image: image-url("cards/our_work_page/retina/#{$folderName}/1.jpg");
              }
            }//.image_holder
          }//.image
  }
}

@mixin timelineCircleApplier($circle, $font:inherit){
  .circle{
    @if $circle != 'inherit' {
      background: $circle;
      &:hover{
        background: lighten($circle, 10%);
      }
    }
    .year{
      display: block;
    }
    .year,.arrow{
      color:$font;
    }
  }
}