@import "bootstrap/bootstrap/_variables.scss";
/* ==========================================================================
   Base -> smartphone
   ========================================================================== */
.container{

}

/* ==========================================================================
   480 - col-xs
   ========================================================================== */
@media only screen and (min-width: $screen-xs){
  .title{
    font-size: 40px;
  }

  .jumbotron{
    height: 400px;
  }
}//media 480

/* ==========================================================================
   630 - Horizontal smart phone
   ========================================================================== */
@media only screen and (min-width: 630px){

}

/* ==========================================================================
   768 - col-sm
   ========================================================================== */
@media only screen and (min-width: $screen-sm){
  .title{
    font-size: 50px;
  }

  #navicon{
    display: none;
  }

  .main_header{
    paper-tabs{
      display: flex !important;
    }
  }
}//@media



/* ==========================================================================
   992 - col-md
   ========================================================================== */
@media only screen and (min-width: $screen-md){
  .title{
    font-size: 60px;
  }


  .main_header{
    &.tall{
      height: 400px;
    }
  }
}//1024px


/* ==========================================================================
   1200 - col-lg
   ========================================================================== */
@media only screen and (min-width: $screen-lg){
.main_header{
    &.tall{
      height: 500px;
    }
  }
}
