//Our Base Variables
$font_size: 14px !global;
$font_color: #5e5c5c !global;
$dark_font_color: darken($font_color, 50%) !global;
$blue_font_color: #2AA4CF !global;
$dark_blue: #0D6582 !global;
$light_blue: #2AA4CF;
$header_font: lao ui, Verdana, Arial, Helvetica, sans-serif !global;
$site_font: lao ui, Verdana, Arial, Helvetica, sans-serif !global;

//Google fonts
@import url(http://fonts.googleapis.com/css?family=Alegreya);
@font-face{font-family: 'Raleway Thin'; src: url('fonts/Raleway-Thin.otf')};
@font-face{font-family: 'Karla'; src: url('fonts/Karla-Regular.ttf')};

// Bring compass into our project
//@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

//Import this for mixins
@import "mixins";

//main
@import "main";

//main header
@import "header";

//Components
@import "jumbotron";
@import "home/seriesThumbs";

//Load this last cause this take priority over everything if its true
@import "responsive";

//IE specific styles
@import "ie";
